.container {
    margin: 7.5vh;
    padding-left: 15vw;
    padding-right: 15vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    grid-auto-rows: minmax(100px, auto);
}

.one {
    padding-left: 10vw;
    grid-column: 1/3;
    grid-row: 1;
}

.two {
    padding-right: 10vw;
    grid-column: 3/5;
    grid-row: 1/3;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#stack {
    padding-left: 25vw;
    padding-right: 25vw;
    justify-content: center;
    display: block;
}

#stack h1 {
    color: black;
    font-size: 5vh;
}

.stack-one {
    margin-bottom: 5vh;
}

.stack-two {

}

/* .three-column {
    display: grid;
    grid-template-columns: auto auto auto;
    max-height: 50vh;
    overflow: hidden;
}

.three-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
} */

.three-column {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
    margin: 0 16px 16px 16px;
}

.three-item {
    padding: 10px;
    width: 33.333%;
    word-wrap: break-word;
    box-sizing: border-box;
}

#three-condensed {
    padding-left:20vw; 
    padding-right:20vw;
}

#three-condensed img:hover {
    opacity: 100;
}

.three-item img:hover {
    opacity: 75%;
}

.two-column {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
    margin: 0 16px 16px 16px;
}

.two-item {
    padding: 10px; 
    width: 100%;
    word-wrap: break-word;
    box-sizing: border-box;
    text-align: center;
    padding-left: 25vw;
    padding-right: 25vw;
}

.center {
    text-align: center;
    justify-content: center;
    padding-bottom: 5vh;
}

#project-block img:hover {
    opacity: 75%;
}

.center-box {
    margin-left: 25vw;
    margin-right: 25vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    justify-content: center;
    text-align: center;
}

@media (min-width: 1000px) {
    .two-column {
        display: flex;
        flex-wrap: wrap;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        margin: 0 16px 16px 16px;
    }  
    .center-box {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    #three-condensed {
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }
}

.three-column img {
    float: left;
    width:  33.3vw;
    height: auto;
    background-size: cover;
}

.title h1 {
    color: black;
}

#contact {
    text-align: center;
}