.four-column {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
    margin: 0 16px 16px 16px;
}

.four-item {
    padding: 10px;
    width: 25%;
    word-wrap: break-word;
    box-sizing: border-box;
}

#four-content p, h2, h3{
    text-align: center;
    justify-content: center;
    padding-left: 5.75%;
    padding-right: 5.75%;

}

.footer-item img {
  height: auto;
  width: 25vw;
}

.footer-item img:hover {
  opacity: 75%;
}

#four-item h1 {
  color: black;
}

#team {
    text-align: center;
}

#team h1 {
    color: black;
}

@-webkit-keyframes uparrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(-0.4em); opacity: 0.9 }
  }
  @-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
  }
  
  .arrow {
    border-color: transparent;
    border-style:solid;
    border-width:0 2em;
    display:block;
    height:0;
    margin:1em auto;
    opacity:0.5;
    text-indent:-9999px;
    transform-origin: 50% 50%;
    width:0;
  }

  .down {
    -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
    border-top:2em solid var(--white-accent);
  }

  video {
    max-width: 100%;
    height: auto;
  }

  /* buttons */
  .button-submit {
    margin-top: 1vh;
    background-color: var(--purple); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button-submit:hover {
    opacity: 75%;
  }

  /* forms */
  form{
    margin-left: 25%;
    width: 50%;
  }
  
  form label{
    font-size: 1.2rem;
  }
  
  input, textarea, button {
    width: 100%;
    padding: 0.5em;
    border: none;
    font-size: 1.2rem;
  }
  input[type="text"], input[type="email"], textarea {
    margin: 0 0 1em;
    border: 1px solid #ccc;
    outline: none;
  }
  
  textarea {
    height: 6em;
  }
  input[type="submit"], button {
    background: var(--purple);
    color: #fff;
    cursor: pointer;
  }
  input[type="submit"]:hover, button:hover {
    opacity: 75%;
  }
  